/* BODY */

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

/* HEADER */

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

/* FOOTER */

footer p {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}

/* NAVIGATION */

li {
  font-size: 18px;
  color: white;
  list-style-type: none;
  padding-bottom: 10px;
}

a {
  color: white;
}

/* HEADINGS */

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
